<?php showViewsByPower() ?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link href="__PUBLIC__/vendor/bootstrap-table/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link href="__PUBLIC__/vendor/switchery/switchery.css" rel="stylesheet">
    <link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">

    <link href="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/bootstrap-table.css" rel="stylesheet" >
    <link href="__PUBLIC__/css/style.css?v=4.0.0" rel="stylesheet">

    <script src="__PUBLIC__/vendor/bootstrap-table/jquery.min.js"></script>
    <script src="__PUBLIC__/vendor/bootstrap-table/bootstrap/js/bootstrap.min.js"></script>

    <script src="__PUBLIC__/vendor/switchery/switchery.js"></script>
    <script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
    <script src="__PUBLIC__/vendor/chosen/chosen.order.jquery.js"></script>
    <script src="__PUBLIC__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>

    <script src="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/locale/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/layui/layui.js"></script>
    <link href="__PUBLIC__/font-awesome/css/font-awesome.css" rel="stylesheet">
    <style>
        .bootstrap-table .table > thead > tr > th{
            text-align: center;
            vertical-align: middle;
        }
        th{
            text-align: center;
        }
        .form-control{
            display: inline-block;
            width: 250px;
        }
        .wrapper .wrapper-content{
            padding-bottom: 0;
        }
        #sys_resultexport{
            background-color:#68941e;
            border-color: #68941e;
        }
        table thead{
            background: #689756;
            font-size: 16px;
            color: #fff;
        }
        .fixed-table-container thead th .th-inner{
            height: 60px;
            line-height: 45px;
        }
        .btn-info{
            background-color:#689756;
            border-color: #689756;
        }
        .btn-info:hover{
            background-color:#65a34d;
            border-color: #65a34d;
        }
    </style>
</head>
<body class="gray-bg" style="font-family: 微软雅黑;">
<div class="wrapper wrapper-content " style="overflow: hidden">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-12">
<!--                    <div>-->
<!--                        <p class="name" style="text-align: left;font-size:  22px;background-color:;border-left:5px solid green;padding-left: 10px;font-family: 微软雅黑;">打分结果统计</p>-->
<!--                    </div>-->
                    <div class="_box" style="margin-top: -5px;">
<!--                        <label class="control-label" style="margin-left:15px;">项目名称：</label>-->
<!--                        <select id="xm_id" class="chosen-select" >-->
<!--                            <option value="">&nbsp;</option>-->
<!--                            <foreach name="xmdata" item="val" >-->
<!--                                <option value="{$val.xm_id}" >{$val.xm_name}</option>-->
<!--                            </foreach>-->
<!--                        </select>-->
                        <button class="btn btn-info" style="float: right;" type="button" id="sys_refresh"><i class="fa fa-refresh"></i>&nbsp;刷新</button>
                    </div>
                    <table id="atpbiztable" ></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="sys_dlg" role="dialog" class="modal fade "></div>
<script type="text/javascript" src="__PUBLIC__/js/banBackSpace.js"></script>
<script>
    layui.use('layer', function() {
        layer = layui.layer;
    })
    $(".chosen-select").chosen({disable_search_threshold: 0, search_contains: true, width: '200px'});
    $('#atpbiztable').bootstrapTable({
            url: '__CONTROLLER__/getData',
            method: 'post',
            // toolbar: '#atpbiztoolbar',
            striped: true,
            cache: false,
            pagination: false,
            iconSize: 'outline',
            sortable: true,
            sortName:"xm_ordernum",
            sortOrder: "asc",
            queryParams: queryParams,
            sidePagination: "server",
            pageNumber: 1,
            pageSize: 15,
            pageList: [5,15, 25, 50, 100],
            minimumCountColumns: 2,
            clickToSelect: true,
            uniqueId: "xr_id",
            detailView: false,                   //是否显示父子表
            rowStyle:function(row,index){
                return style = {
                    css:{
                        'font-size':'15px'
                    }
                }
            },
            columns: [
                {title: '序号', width: 40,align:'center',
                    formatter: function (value, row, index)
                    {
                        var option =  $('#atpbiztable').bootstrapTable("getOptions");
                        return option.pageSize * (option.pageNumber - 1) + index + 1;
                    }
                },
                {field: 'xm_ordernum', title: '答辩顺序', sortable: true,width:60,align:'center'},
                {field: 'xm_code', title: '项目编号', sortable: true,width:60,align:'center'},
                {field: 'xm_name', title: '项目名称', sortable: true,width:100},
                {field: 'xm_company', title: '依托单位', sortable: true,width:80},
                {field: 'xm_createuser', title: '申请人', sortable: true,width:80,align:'center'},
//                {field: 'xm_class', title: '分组', sortable: true,width:80,align:'center'},
                {field: 'xm_tmfs', title: '推荐方式', sortable: true,width:80,align:'center'},
                {field: 'ps_total', title: '本人打分', sortable: true, width:70,align:'center',
                    formatter:function(value, row, index){
                        if(row.ishuibi == 1){
                            return '回避'
                        }else{
                            return value;
                        }
                    }},
                {field: '', title: '进度', sortable: false,width:90,align:'center',
                    formatter: function (value, row, index)
                    {
                        var all=row["allcount"];
                        var ok=row["wanchengcount"];
                        return ok+" / "+all;
                    }
                },
                {field: 'num', title: '已评平均分', sortable: true, width:90,align:'center'},
//                {field: '', title: '进度<br/>（第二轮）', sortable: false,width:90,align:'center',
//                    formatter: function (value, row, index)
//                    {
//                        var all=row["r2_allcount"];
//                        var ok=row["r2_wanchengcount"];
//                        return ok+" / "+all;
//                    }
//                },
//                {field: 'r2_ps_total', title: '本人打分<br/>（第二轮）', sortable: true, width:70,align:'center',
//                    formatter:function(value, row, index){
//                        if(row.r2_ishuibi == 1){
//                            return '回避'
//                        }else{
//                            return value;
//                        }
//                    }},
//                {field: 'avgvalue2', title: '已评平均分<br/>（第二轮）', sortable: true, width:90,align:'center'}
            ]
        });
    $('#sys_refresh').on('click',function() {
        $("#xm_code").val("");
        $("#xm_code").trigger("chosen:updated");
        $("#xm_id").val("");
        $("#xm_id").trigger("chosen:updated");
        $('#atpbiztable').bootstrapTable('refresh');
    });
    $('.chosen-select').on('change',function() {
        $('#atpbiztable').bootstrapTable('refresh')
    });
    function queryParams(params) {  //配置参数
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            limit: params.limit,   //页面大小
            offset: params.offset,  //页码
            sort: params.sort,  //排序列名
            sortOrder: params.order,//排位命令（desc，asc）
            xm_id: $("#xm_id").val(),//排位命令（desc，asc）
            xm_class:$("#xm_class").val(),
            xm_type:$("#xm_type option:selected").val(),
            xm_group:$("#xm_group").val(),
            xm_code:$("#xm_code").val()
        };
        return temp;
    }
</script>
</body>

</html>




