<include file="Public:tableheader" />
<link href="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" />
<style>
    .bootstrap-table .table > thead > tr > th{
        text-align: center;
        vertical-align: middle;
    }
    .wrapper .wrapper-content{
        padding-bottom: 0;
    }
    .editableform .input-sm{
        width: 70px!important;
        padding-right: 0!important;
         margin-top: 0px;
    }
    table thead{
        background: #4096C7;
        font-size: 16px;
        color: #fff;
    }
    .round{
        width: 65%;
        float: left;
        font-size: 18px;
        font-weight: bold;
        margin-left: 25px;
        margin-bottom:20px;
        color: #084477;
    }
    .tips{
        text-align: left;
        text-indent: 2em;
        font-size: 13px;
        /*font-weight: bold;*/
        margin-left: 2px;
        margin-bottom:15px;
        color: #2f4050;
        margin-top: -12px;
    }
    .tip{
        text-align: left;
        text-indent: 2em;
        font-size: 16px;
        font-weight: bold;
        margin-left: 10px;
        margin-bottom:15px;
        color: #2f4050;
    }
    .btn-hanping{
        background-color: #ea9d49;
        height: 30px;
        line-height: 19px;
        padding: 6px;
        border-color: #cac3bb;
        color: #ffffff;
        font-size: 14px;
        background-color: #5fb878;
    }
    .btn-hanping:hover{
        color: #ffffff;
    }
    .chosen-container-single .chosen-single {
        min-height: inherit;
         height: 37px!important;
        line-height: 32px;
    }
    .active-result,.chosen-single{
        text-align: left;
    }
    .ibox {
            margin-bottom: 0px;
    }
    .orange>td{
        background-color:#F7C15F!important;
    }
    /*.fixed-table-container thead th .th-inner{
        padding:2px 8px!important;
    }*/
    #sys_wancheng{
         background-color: cornflowerblue;
         border-color: cornflowerblue;
     }
    #sys_refresh{
         background-color: #5ab85a;
         border-color: #5ab85a;
     }
    .btn-green{
         background-color: #5ab85a!important;
         border-color: #5ab85a!important;
     }
    table{
        /*table-layout: auto!important;*/
    }
    .nopadding>.th-inner {
        padding:8px 0px!important;
    }
</style>
<body class="gray-bg" style="font-family: 微软雅黑;" >
<div class="" style="overflow: hidden">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="_box" style="text-align: right;">
                        <?php if(!empty($markRule)){  // 评审要点不为空时?>
                            <div style="background-color: bisque;padding: 8px 10px 2px 7px;;margin-bottom:5px;width:88.5%;float:left;">
                                <p class="tip">评审要点及打分标准：</p>
                                <?php echo $markRule;?>
                            </div>
                            <div style="width: 11.5%;float: left;">
                                <input type="hidden" name="xr_status" id="xr_status" value="进行中"/>
                                <button class="btn btn-success" style="margin-left: 12px;display:block;" type="button" id="sys_refresh"><i class="fa fa-refresh"></i>&nbsp;刷新</button>
                                <button class="btn btn-warning" style="margin-left: 12px;display:block;" type="button" id="sys_wancheng"><i class="fa fa-check"></i>&nbsp;提交</button>
                                <button class="btn btn-warning" style="margin-left: 12px;display:block;" type="button" id="sys_saveall"><i class="fa fa-save"></i>&nbsp;全部保存</button>
                                <input type="hidden" id="xm_type" name="xm_type" value="{$xmType}"/>
                            </div>
                        <?php }else{  // 评审要点为空时?>
                            <div style="width: 90%;float: right;">
                                <input type="hidden" name="xr_status" id="xr_status" value="进行中"/>
                                <button class="btn btn-success" style="margin-left: 12px;;" type="button" id="sys_refresh"><i class="fa fa-refresh"></i>&nbsp;刷新</button>
                                <button class="btn btn-warning" style="margin-left: 12px;;" type="button" id="sys_wancheng"><i class="fa fa-check"></i>&nbsp;提交</button>
                                <button class="btn btn-warning" style="margin-left: 12px;;" type="button" id="sys_saveall"><i class="fa fa-save"></i>&nbsp;全部保存</button>
                                <input type="hidden" id="xm_type" name="xm_type" value="{$xmType}"/>
                            </div>
                        <?php }?>
                    </div>
                    <table id="atpbiztable" style="font-size:15px;" data-height=''></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="sys_dlg" role="dialog" class="modal fade "></div>
<!--<script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>-->
<script src="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/bootstrap-editable/js/bootstrap-editable.js"></script>
<script src="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js"></script>

<script>
    layui.use('layer', function() {
        layer = layui.layer;
    });
	var h = $(window).height()-40;
	$('table').attr('data-height',h);
	var expandids = [];// 记住专家打开明细的行
    var tablePosition = null;// 记住表格位置
    $('#atpbiztable').bootstrapTable({
        url: '__CONTROLLER__/getData',
        method: 'post',
        toolbar: '#atpbiztoolbar',
        striped: true,
        cache: false,
        pagination: false,
        iconSize: 'outline',
        sortable: false,
		sortName:"xm_ordernum",
        sortOrder: "asc", 
        queryParams: queryParams,
        sidePagination: "server",
        pageList: [10, 25, 50, 100],
        minimumCountColumns: 2,
        clickToSelect: true,
        uniqueId: "xr_id",
        detailView: true,
        detailFormatter: "detailFormatter",
        rowStyle:function(row,index){
	        var style = {
                css:{
                    'font-size':'15px'
                }
            };
	        if(row.notsave == 1){
		        style = {
		            css:{
                    	'font-size':'15px'
                    },
		        classes:'orange'
                }
            }
            return style;
        },
        columns: tableColumn(),
        onEditableSave:function(field,row,oldValue,$el) {
	        if((newValue != oldValue) || (oldValue == null)){
		        $el.parents("tr").addClass("orange");
		        row.notsave = 1;
            }
            var totalnum = getTotal(row);

            var trObj = $($el).parents("tr");
            var index = trObj.attr("data-index");
	        var newValue = row[field];
            row["ps_total"] = fomatFloat(totalnum);
            row[field]      = fomatFloat(newValue);
            $('#atpbiztable').bootstrapTable("updateRow",{
                index:index,
                row:row
            });
        },
        onPostBody: function (tableValue) {
            var markFieldJson = eval({$markFieldJson});
            var table  = $('#atpbiztable tbody tr');
            var len    = tableValue.length;
            for(var i=0;i<len;i++){
                var ishuibi = tableValue[i].ishuibi;
                // 回避
                  if(ishuibi == 1){
                    for(var j=0;j<markFieldJson.length;j++){
                        var temp = $(table).eq(i).find('a[data-name="'+markFieldJson[j]+'"]');
                        $(temp).editable('disable');
                    }
                    var ps_zz    = $(table).eq(i).find('a[data-name="ps_zz"]');
                    $(ps_zz).editable('disable');
                    var ps_total = $(table).eq(i).find('a[data-name="ps_total"]');
                    $(ps_total).editable('disable');
                }

                // 记住打开的明细
                if(expandids.length != 0){
                    var rid = tableValue[i]['xr_id'];
                    if($.inArray(rid,expandids)>-1){
                        $('#atpbiztable').bootstrapTable('expandRow',i);
                    }
                }
            }
            if(tablePosition != null){
                $('#atpbiztable').bootstrapTable('scrollTo',parseFloat(tablePosition));
            }
        },
        onLoadSuccess:function(){
            if("{$Think.config.isZD}" == 1){
                $('#atpbiztable').bootstrapTable('showColumn','ps_zz');
            }
        },
        onEditableShown: function(field, row, $el, editable){
            setTimeout(function(){
                editable.input.$input.select();
                var widthprt = $el.parent("td").css('width');
                var width = widthprt.substr(0,widthprt.length-2);
                width = fomatFloat(fomatInt(width)*0.8);
                editable.input.$input.css('width',width);
                $el.parent("td").css('width',widthprt);
            },50);
            tablePosition = $('#atpbiztable').bootstrapTable("getScrollPosition");
        },
        onExpandRow:function(index ,row,$detail){
            var rid = row['xr_id'];
            if(expandids.length == 0){
                expandids.push(rid);
            }else{
                if($.inArray(rid,expandids)<0){
                    expandids.push(rid);
                }
            }
            return false;
        },
        onCollapseRow:function(index ,row){
            var rid = row['xr_id'];
            if(expandids.length != 0){
                for(var i=0;i<expandids.length;i++){
                    if(expandids[i] == rid){
                        expandids.splice(i,1);
                    }
                }
            }
        }
    });

    function tableColumn(){
        var markOptionJson = '{$markOptionJson}';
        markOptionJson = eval("{"+markOptionJson+"}");
        var column = [
            {field: 'xm_ordernum',title: '答辩<br/>顺序', width: 50,sortable:true},
            {field: 'xm_code', title: '项目编号', sortable: true,width:80},
            {field: 'xm_name', title: '项目名称', sortable: true,width:80,align:'left'},
            {field: 'xm_company', title: '依托单位', sortable: true,width:80,align:'left'},
            {field: 'xm_createuser', title: '申请人', sortable: true,width:50},
//            {field: 'xm_id', title: '初审成绩', sortable: false,visible:true,width:80,
//                formatter: function (value, row, index) {
//                    var a = '<a  class="btn btn-hanping btn-xs detail-icon">初审成绩</a>';
//                    return a;
//                }
//            },
            <?php if(!empty($markOption)){
                $count = 0;
                foreach($markOption as $key=>$val){
        ?>
        {field: '{$val.field}', title: '{$val.title}<br/>({$val.minVal}-{$val.maxVal})', sortable: true,width:90,
				<?php if(!empty($val['nopadding'])){
					echo "class:'nopadding',";
					}?>
                    formatter:function(value, row, index){
                        var ishuibi = row.ishuibi;
                        if(ishuibi == '1'){
                            return '回避';
                        }else if(value !== null) {
                            return value;
                        }else if(value == null){
                            return null;
                        }
                    },
                    editable: {
                        type:'{$val.type}',
                        title:'{$val.title}',
                        emptytext:'请打分',
                        showbuttons:false,
                        mode:'inline',
                        onblur:"submit",
                        <?php if($val['type'] == 'select'){ ?>
                            source:markOptionJson[{$count}]['source'],
                        <?php }?>
                        validate:function(v){
                            if(isNaN(v)){
                                return '{$val.brief}'+'必须为数字';
                            }else if(v>{$val.maxVal}){
                                return '{$val.brief}'+'分数不能超过'+'{$val.maxVal}';
                            }else if(v<{$val.minVal}){
                                return '{$val.brief}'+'分数不能小于'+'{$val.minVal}';
                            }
                        }
                    }
                },
            <?php
                $count ++;
            }
    }?>
            {field: 'ps_zz', title: '与战斗力<br/>关联程度', sortable: true,width:80,visible:false,
                formatter:function(value, row, index){
                    var ishuibi = row.ishuibi;
                    if(ishuibi == '1'){
                        return '回避';
                    }else if(value !== null) {
                        return value;
                    }else if(value == null){
                        return '';
                    }
                },
                editable: {
                    type:'select',
                    title:'与战斗力关联程度',
                    showbuttons:false,
                    mode:'inline',
                    onblur:"submit",
                    emptytext:'请选择',
                    source:[
                        {value:'A',text:'A'},
                        {value:'B',text:'B'},
                        {value:'C',text:'C'},
                        {value:'D',text:'D'}
                    ]
                }
            },
            {field: 'ps_total', title: '总分', sortable: true,width:50,
                formatter:function(value, row, index){
                    var ishuibi = row.ishuibi;
                    if(ishuibi == '1'){
                        return '回避';
                    }else{
                        return fomatFloat(value);
                    }
                }
            },
            {field: 'xr_id', title: '操作', sortable: false,width:110,
                formatter: function (value, row, index) {
                    var inp = "'" + value + "'";
                    var a = "";
                    if(row['ishuibi']!='1') {
                        if (row["xr_status"] != "完成") {
                            a += '<a  class="btn btn-warning btn-xs" onclick="updateInRow(' + inp + ','+index+')">保存</a>&nbsp;';
                            a += '<a  class="btn btn-danger btn-xs" onclick="huibi(' + inp + ',' + index + ')">回避</a>&nbsp;';
                        }
                    }else{
                        a += '<a  class="btn btn-info btn-green btn-xs" onclick="quxiaohuibi(' + inp + ',' + index + ')">取消回避</a>&nbsp;';
                    }
                    a += '<a  class="btn btn-info btn-xs" onclick="XMlook(' + "'" + row.xm_id + "'" + ')">查看材料</a>';
                    return a;
                }
            }
        ];
        return column;
    }
    function queryParams(params) {  //配置参数
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            sort: params.sort,  //排序列名
            sortOrder: params.order,//排位命令（desc，asc）
            xr_status:$("#xr_status").val(),
            xm_type:$("#xm_type").val()
        };
        return temp;
    }
    // 表格内部文字垂直居中
    $('#atpbiztable th').css('vertical-align','middle');
    // 输入字母，文字，‘-’等无法输入
    // $('body').on('focus','#atpbiztable .editable-input input',function(){
    //     var preg = /[^\d]+/g;
    //     var val  = $(this).val();
    //     if(val.match(preg) != null){
    //         $(this).val($(this).val().replace(preg,''));
    //     }
    // });
    // $('body').on('keyup','#atpbiztable .editable-input input',function(){
    //     var preg = /[^\d]+/g;
    //     var val  = $(this).val();
    //     if(val.match(preg) != null){
    //         $(this).val($(this).val().replace(preg,''));
    //     }
    // });
    function updateInRow(id,index)
    {
        setTimeout(function(){
            notClose     = $('#atpbiztable tbody tr').eq(index).find('.editable-open');
            var isErr    = $(notClose).next().find('.has-error');
            if(isErr.length>0){
                layer.alert("打分值不在分数段内，请核对");
            }else{
                saveScore(id);
            }
        },200);
    }

    function saveScore(id){
        data = $('#atpbiztable').bootstrapTable("getRowByUniqueId",id);
        if(data != null){
            if('{$markOptionJson}' != '' && '{$markOptionJson}' != null){
                var markOptionJson = '{$markOptionJson}';
                markOptionJson = eval("{"+markOptionJson+"}");
                for(var i=0;i<markOptionJson.length;i++){
                    if(data[markOptionJson[i]['field']]=='' || data[markOptionJson[i]['field']]==null){
                        layer.alert('请填写'+markOptionJson[i]['brief']);
                        return false;
                    }
                }
            }
            if('{$Think.config.isZD}' == '1'){
                if(data['ps_zz']=='' || data['ps_zz']==null){
                    layer.alert('请选择与战斗力关联程度');
                    return false;
                }

            }
            data['ishuibi'] = 0;
	        data['notsave'] = null;
            $.ajax({
                type:'post',
                url:'__CONTROLLER__/saveScore',
                data:{
                    data:data,
                    xmType:'{$xmType}'
                },
                success:function(rep){
                    if(rep.code=='0'){
                        layer.msg(rep.message);
			            $('#atpbiztable').bootstrapTable("updateRow",data);
                    }else{
                        layer.alert(rep.message);
                    }
                },
                dataType:'json'
            });
        }
    }

    function huibi(id,index){
		layer.confirm("确定要回避该项目吗？",{title:'温馨提示'},function(index){	
			var data = $('#atpbiztable').bootstrapTable("getRowByUniqueId",id);
			var markFieldJson = eval({$markFieldJson});
            for(var j=0;j<markFieldJson.length;j++){
                data[markFieldJson[j]] = '-1';
            }
			data['ps_total']  = '-1';
			data['ishuibi']   = 1;
			data['vote1']     = -1;
			data['vote2']     = -1;
			data['vote3']     = -1;
			data['ps_zz']     = -1;
			data['notsave']   = null;
			$.post('__CONTROLLER__/saveScore',{data:data,xmType:'{$xmType}'},function(rep){
				if(rep.code !='0'){
					layer.alert('保存失败，请重试');
				}else{
					var data = $('#atpbiztable').bootstrapTable("updateRow",{
						index:index,
						row:data
					});
				}
			},'json');
			layer.close(index);
		})
    }

    function quxiaohuibi(id,index){
		layer.confirm("确定要取消回避该项目吗？",{title:'温馨提示'},function(index){
			var data = $('#atpbiztable').bootstrapTable("getRowByUniqueId",id);
            var markFieldJson = eval({$markFieldJson});
            for(var j=0;j<markFieldJson.length;j++){
                data[markFieldJson[j]] = null;
            }
			data['ps_zz']     = null;
			data['ps_total']  = '0';
			data['ishuibi']   = 0;
			data['vote1']     = '';
			data['vote2']     = '';
			data['vote3']     = '';
			data['notsave']   = null;
			$.post('__CONTROLLER__/saveScore',{data:data, xmType:'{$xmType}',quxiaohuibi:1},function(rep){
				if(rep.code !='0'){
					layer.alert(rep.message);
				}else{
					var data = $('#atpbiztable').bootstrapTable("updateRow",{
						index:index,
						row:data
					});
				}
			},'json');
			layer.close(index);
		})
    }

    $('#sys_refresh').on('click',function() {
        $('#atpbiztable').bootstrapTable('refresh');
    });
    $('#sys_wancheng').on('click',function() {
        setTimeout(function(){
            notClose = $('#atpbiztable tbody tr').find('.editable-open');
            var isErr    = $(notClose).next().find('.has-error');
            if(isErr.length>0){
                layer.alert("打分值不在分数段内，请核对");
            }else{
                submitScore();
            }
        },200);
    });

    // 全部保存
    $('#sys_saveall').on('click',function() {
        setTimeout(function(){
            notClose = $('#atpbiztable tbody tr').find('.editable-open');
            var isErr    = $(notClose).next().find('.has-error');
            if(isErr.length>0){
                layer.alert("打分值不在分数段内，请核对");
            }else{
                saveAllScore();
            }
        },200);
    });

    function saveAllScore(){
        var data = $('#atpbiztable').bootstrapTable("getData");
        var len  = data.length;
        var updateData = [];
        if(len>0){
            var errorMsg  = [];
            for(var i=0;i<len;i++){
                var errorSign = false;
                if('{$markOptionJson}' != '' && '{$markOptionJson}' != null){
                    var markOptionJson = '{$markOptionJson}';
                    markOptionJson = eval("{"+markOptionJson+"}");
                    for(var j=0;j<markOptionJson.length;j++){
                        if((data[i]['ishuibi'] != 1) && (data[i][markOptionJson[j]['field']]=='' || data[i][markOptionJson[j]['field']]==null)){
                            errorSign = true;
                            errorMsg.push('项目"'+data[i]['xm_name']+'"请填写 '+markOptionJson[j]['title']);
                            continue;
                        }
                    }
                    // if(('{$Think.config.isZD}' != 0) && (data[i]['ps_zz']=='' || data[i]['ps_zz']==null)){
                    //     errorSign = true;
                    //     errorMsg.push('项目"'+data[i]['xm_name']+'"请填写 与战斗力关联程度');
                    //     continue;
                    // }
                }
                if(errorSign !== false){
                    continue;
                }
                data[i]['notsave'] = null;
                $('#atpbiztable').bootstrapTable("updateRow",data[i]);
                updateData.push(data[i]);
            }
//            console.log(errorMsg);
//            if(errorMsg.length != 0) {
//                layer.alert(errorMsg.join("<br/>"));
//                return false;
//            }else{
//                console.log(updateData);
//                ler.aymsg("全部保存成功");
//            }
            if(updateData.length != 0) {
                var updateDataJson = JSON.stringify(updateData);
                $.ajax({
                    type:'post',
                    url:'__CONTROLLER__/saveScoreAll',
                    async:false,
                    data:{
                        updateData:updateData,
                        xmType:'{$xmType}'
                    },
                    success:function(rep){
//                        console.log(rep);return ;
                        if(rep.code != '0'){
                            errorSign = true;
                            layer.alert(rep.message);
                            return false;
                        }else{
                            if(errorMsg.length != 0) {
//                                layer.alert(errorMsg.join("<br/>"));
//                                return false;
                            }else{
                                layer.msg("全部保存成功");
                            }
                        }
                    },
                    dataType:'json'
                });
            }
        }
    }
    function submitScore(){
        var data = $('#atpbiztable').bootstrapTable("getData");
        var len  = data.length;
        var updateData = [];
        if(len>0){
            var errorMsg  = [];
            for(var i=0;i<len;i++){
                var errorSign = false;
                if('{$markOptionJson}' != '' && '{$markOptionJson}' != null){
                    var markOptionJson = '{$markOptionJson}';
                    markOptionJson = eval("{"+markOptionJson+"}");
                    for(var j=0;j<markOptionJson.length;j++){
                        if((data[i]['ishuibi'] != 1) && (data[i][markOptionJson[j]['field']]=='' || data[i][markOptionJson[j]['field']]==null)){
                            errorSign = true;
                            errorMsg.push('项目"'+data[i]['xm_name']+'"请填写 '+markOptionJson[j]['brief']);
                            continue;
                        }
                    }
                    // if(('{$Think.config.isZD}' != 0) && (data[i]['ps_zz']=='' || data[i]['ps_zz']==null)){
                    //     errorSign = true;
                    //     errorMsg.push('项目"'+data[i]['xm_name']+'"请填写 与战斗力关联程度');
                    //     continue;
                    // }
                }
                if(errorSign !== false){
                    continue;
                }
                data[i]['notsave'] = null;
                $('#atpbiztable').bootstrapTable("updateRow",data[i]);
                updateData.push(data[i]);
            }
            if(updateData.length != 0) {
                var updateDataJson = JSON.stringify(updateData);
                $.ajax({
                    type:'post',
                    url:'__CONTROLLER__/saveScoreAll',
                    async:false,
                    data:{
                        updateData:updateData,
                        xmType:'{$xmType}'
                    },
                    success:function(rep){
//                        console.log(rep);return ;
                        if(rep.code!='0'){
                            errorSign = true;
                            layer.alert(rep.message);
                            return false;
                        }else{
                            if(errorMsg.length != 0) {
                                layer.alert(errorMsg.join("<br/>"),{title:'温馨提示',area:'500px'});
                                return false;
                            }else{
                                $.post('__CONTROLLER__/panduanpswancheng',{xmType:'{$xmType}'}, function (rep) {
                                    if (rep.code == "0") {
                                        layer.confirm("提交后不可更改，确认提交吗？",{btn:['确定','取消']},function(){
                                            $.post('__CONTROLLER__/savepswancheng',{xmType:'{$xmType}'}, function (rep) {
                                                if (rep.code == "0") {
                                                    layer.msg("提交成功");
                                                    setTimeout(function(){
                                                        location.reload();
                                                    },2000);
                                                }else{
                                                    layer.alert("提交失败，请稍候重试！");
                                                }
                                            },'json');
                                        });
                                    }else{
                                        layer.open({
                                            type:1,
                                            content:"<div style='padding: 5px 15px 5px 15px;font-size:20px;word-break:break-all;'>"+rep.message+"</div>",
                                            skin:'layer-ext-moon',
                                            area:["800px","500px"],
                                            btn:["确定"]
                                        });
                                    }
                                },'json');
                            }
                        }
                    },
                    dataType:'json'
                });
            }
        }
    }
    function detailFormatter(index, row) {
        var html = [];
        html.push("<div class='ibox-content'>");
        html.push("<table class='table'border='1' style='border:1px solid rgb(221, 221, 221) !important;color:white'>");
        html.push("<tbody><tr>");
        html.push("<td style='background-color: #16B5A5;'><b>初审分组</b></td><td style='background-color: #d1ead1;color:#000000;'>" + row['xm_oldfenzu'] + "</td>");//<td><b>推荐方式</b></td><td>"+row['xm_tmfs']+"</td>
        html.push("<td style='background-color: #16B5A5;'><b>初审小组排名</b></td><td style='background-color: #d1ead1;color:#000000;'>" + row['xm_oldrank'] + "</td><td style='background-color: #16B5A5;'><b>初审平均分</b></td><td style='background-color: #d1ead1;color:#000000;'>" + row['xm_oldscore'] + "</td>");
        // html.push("<td><b>资助意见</b></td><td>" + row['xm_oldcommand'] + "</td>");
        html.push("</tr></tbody>");
        html.push("</table>");
        html.push("</div>");
        return html.join('').replace(/null/g, "").replace(/undefined/g, "");
    }

    function getTotal(row){
        var totalnum = 0;
        if('{$markFieldJson}' != '' && '{$markFieldJson}' != null) {
            var markFieldJson = '{$markFieldJson}';
            markFieldJson = eval("{" + markFieldJson + "}");
            for(var i=0;i<markFieldJson.length;i++){
                totalnum += fomatFloat(row[markFieldJson[i]]);
            }
        }
        return fomatFloat(totalnum);
    }
    /**
     * 格式化小数
     */
    function fomatFloat(number){
        if(isNaN(number) || (number == '') || (number == null)){
            return parseInt(0);
        }
        var f  = parseFloat(number);
        if('{$Decimals}' == 0){
            return parseInt(f);
        }else if('{$Decimals}' == 1){
            return Math.round(f*10)/10;
        }else if('{$Decimals}' == 2){
            return Math.round(f*100)/100;
        }else if('{$Decimals}' == 3){
            return Math.round(f*1000)/1000;
        }else if('{$Decimals}' == 4){
            return Math.round(f*10000)/10000;
        }else if('{$Decimals}' == 5){
            return Math.round(f*100000)/100000;
        }
        return Math.round(f*10)/10;
    }
    /**
     * 格式化为整数
     */
    function fomatInt(number){
        if(isNaN(number) || (number == '') || (number == null)){
            return parseInt(0);
        }
        var f  = parseInt(number);
        return f;
    }
    function XMlook(id){
        window.open("__MODULE__/XM/listindexs?xm_id="+id);
    }
</script>
</body>

</html>




