<include file="Public:header" />
<style>
    .btns{
        padding: 10px 120px 10px 10px;
        width:100%;
        height:20px;
    }
    .btns .btn{
        margin: 0 6px;
        padding: 8px 20px;
        box-sizing: border-box;
    }
    .title{
        text-align:center;
        font-size: 26px;
        font-weight: bold;
    }
    .table{
        text-align:center;
        border: 2px solid #dddddd!important;
        table-layout: fixed;
    }
    .table tr{
        height:30px;
    }
    .table td{
        width:14%;
        border-left: 1px solid #dddddd!important;
    }
    .table p{
        margin:0px;
    }
    .huibi{
        text-align:center;
        color: #ce1e1e;
        font-size: 20px;
        font-weight: normal;
    }
    .tips{
        text-align: left;
        text-indent: 2em;
        font-size: 13px;
        /*font-weight: bold;*/
        margin-left: 2px;
        margin-bottom:15px;
        color: #2f4050;
        margin-top: -12px;
    }
    .tip{
        text-align: left;
        text-indent: 2em;
        font-size: 18px;
        font-weight: bold;
        margin-left: 10px;
        margin-bottom:15px;
        color: #2f4050;
    }
    .notice{
        /*margin-left:100px;*/
        /*background-color: bisque;*/
        padding: 8px 10px 2px 7px;
        margin-bottom:5px;
        width:100%;
        float:left;
        font-size: 17px;
    }
    .notice>p{
        text-indent: 3em;
    }
    #tables{
        text-align:left;
        table-layout: fixed;
        margin: 10px auto;
        font-size: 18px;
        border: none!important;
        width: 92%;
    }
    #tables> thead > tr > th {
        text-align:right;
        vertical-align: bottom;
        border: none;
        padding: 4px;
    }
    .bottomline{
        border-bottom:2px #777 solid!important;
        font-weight: normal;
        text-align:center!important;
    }
</style>
<body  style="font-family: 微软雅黑;">
    <div class="btns">
        <a class="btn btn-danger"  id="back" style="float:right;" >返回项目列表</a>
        <button class="btn btn-success" id="fileshow" style="float:right;">查看申报材料</button>
    </div>
    <div style="margin:30px 0px 0px 150px;width:80%;font-size: 18px;">
        <p class="title">{$title}</p>
        <?php if($data['ishuibi'] == 1){?><p class="huibi">（已回避）</p><?php }?>
        <table class="table" id="tables" data-toggle="table" data-height="600">
            <thead>
            <tr style="display:;">
                <th style="width: 10%;"></th>
                <th style="width: 40%;"></th>
                <th style="width:12%;"></th>
                <th style="width: 40%;"></th>
            </tr>
            <tr>
                <th >项目名称：</th>
                <th style="text-align:left;"><p class="bottomline">{$data.xm_name}</p></th>
                <th>申报书编号：</th>
                <th><p class="bottomline">{$data.xm_code}</p></th>
            </tr>
            <tr>
                <th>所属专项：</th>
                <th style="text-align:left;"><p class="bottomline">先进技术</p></th>
                <th>指南方向：</th>
                <th><p class="bottomline">{$data.xm_group}</p></th>
            </tr>
            <tr>
                <th style="text-align:left;">申报单位：</th>
                <th><p class="bottomline">{$data.xm_company}</p></th>
                <th>项目负责人：</th>
                <th><p class="bottomline">{$data.xm_createuser}</p></th>
            </tr>
            </thead>
        </table>
        <table class="table" data-toggle="table" data-height="600" style="font-size: 18px;">
            <thead>
<!--            <tr>-->
<!--                <td colspan="1" style="width: 60px;vertical-align: middle;"><p style="font-weight: bold;">项目编号</p></td>-->
<!--                <td colspan="1" style="width: 5%;vertical-align: middle;">{$data.xm_code}</td>-->
<!--                <td colspan="2" style="width:60px;vertical-align: middle;"><p style="font-weight: bold;">项目名称</p></td>-->
<!--                <td colspan="4" style="width: 20%;vertical-align: middle;">{$data.xm_name}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td colspan="1" style="vertical-align: middle;"><p style="font-weight: bold;">申请人</p></td>-->
<!--                <td colspan="1" style="vertical-align: middle;">{$data.xm_createuser}</td>-->
<!--                <td colspan="2" style="vertical-align: middle;"><p style="font-weight: bold;">依托单位</p></td>-->
<!--                <td colspan="4" style="vertical-align: middle;" >{$data.xm_company}</td>-->
<!--            </tr>-->
            <tr>
                <td style="text-align: center;vertical-align: middle;width:20%"><p style="font-weight: bold;">评价内容</p></td>
                <td style="text-align: center;vertical-align: middle;width:50%"><p style="font-weight: bold;">评价指标</p></td>
                <td style="text-align: center;vertical-align: middle;width:10%"><p style="font-weight: bold;">分值</p></td>
                <td style="text-align: center;vertical-align: middle;width:20%"><p style="font-weight: bold;">得分</p></td>
            </tr>
            <?php foreach($standrad as $key=>$value){?>
            <tr>
<!--                <td colspan="2" style="text-align: left;vertical-align: middle;"><?php echo ($key+1).".".$value['mainpoints']."（0-".$value['maxVal']."分）";?></td>-->
                <td style="text-align: left;vertical-align: middle;"><?php echo $mainpoint[$key];?></td>
                <td style="text-align: left;vertical-align: middle;"><?php echo $value['content'];?></td>
                <td style="text-align: center;vertical-align: middle;"><?php echo $value['maxVal'];?></td>
                <td style="text-align: center;vertical-align: middle;"><?php echo $data[$value['field']];?></td>
            </tr>
            <?php }?>
            <tr style="height:20px;">
                <td colspan="3" style="vertical-align: middle;"><p style="float:right;font-weight: bold;">总分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td  style="vertical-align: middle;">
                    <label id="total">{$data.ps_total}</label>
                </td>
            </tr>
            <?php if($isZiZhu == 1){?>
                <tr>
                    <td style="text-align: center;font-weight:bold;vertical-align: middle;">评审结论</td>
                    <td colspan="3"  style="vertical-align: middle;">
                        <if condition="$data['ps_zz'] eq 0">
                            建议不立项
                        <elseif  condition="$data['ps_zz'] eq 1"/>
                            建议立项
                        </if>
<!--                        <p style="font-weight: bold;float:right;">(定性评价主要考察项目的“创新性、前瞻性、颠覆性”，分“强、中、弱”三档给予评价。)</p>-->
                    </td>
                </tr>
            <?php }?>
            <tr>
                <td style="vertical-align: middle;"><p style="font-weight:bold">评审意见</p>
				<span style="font-size:17px" >{$advise}</span></td>
                <td colspan="3" style="height:280px;text-align: left;">{$data.ps_detail}</td>
            </tr>
            </thead>
        </table>
        <?php if(!empty($notice)){ ?>
        <div class="notice">
<!--            <span class="tip">注意事项:</span>-->
            {$notice}
        </div>
        <?php }?>
        <input type="hidden" id="xr_id" value="{$data.xr_id}" />
        <input type="hidden" id="xm_id" value="{$data.xm_id}" />
    </div>
    <script src="__PUBLIC__/vendor/jquery/jquery1.11.1.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/layui/layui.js"></script>
    <script>
//        返回
        $("#back").on("click",function(){
            location.href="__CONTROLLER__/markIndex?offset={$offset}&limit={$limit}&position={$position}";
        });
        $("#fileshow").on("click",function(){
            window.open('__MODULE__/XM/listindexs?xm_id=' + $("#xm_id").val());
        });
    </script>

</body>
</html>