<include file="Public:header" />
<style>
    .btns{
        padding: 10px 120px 10px 10px;
        width:100%;
        height:20px;
    }
    .btns .btn{
        margin: 0 6px;
        padding: 8px 20px;
        box-sizing: border-box;
    }
    .title{
        text-align:center;
        font-size: 26px;
        font-weight: bold;
    }
    table{
        text-align:center;
        border: 2px solid #dddddd!important;
        table-layout: fixed;
    }
    table tr{
        height:30px;
    }
    table td{
        width:14%;
        border-left: 1px solid #dddddd!important;
    }
    table p{
        margin:0px;
    }
    .notice{
        margin-left:100px;
    }
    .huibi{
        text-align:center;
        color: #ce1e1e;
        font-size: 20px;
        font-weight: normal;
    }
</style>
<body  style="font-family: 微软雅黑;">
    <div class="btns">
        <a class="btn btn-danger"  id="back" style="float:right;" >返回项目列表</a>
        <button class="btn btn-success" id="fileshow" style="float:right;">查看申报材料</button>
    </div>
    <div style="margin:30px 0px 0px 150px;width:80%;font-size: 18px;">
        <p class="title">{$title}</p>
        <?php if($data['ishuibi'] == 1){?><p class="huibi">（已回避）</p><?php }?>    
        <div class="notice">
            <p style="font-weight: bold;">注意事项:</p>
            {$notice}
        </div>
        <table class="table" data-toggle="table" data-height="600" style="font-size: 18px;">
            <thead>
            <tr>
                <td colspan="1" style="width: 60px;vertical-align: middle;"><p style="font-weight: bold;">项目编号</p></td>
                <td colspan="1" style="width: 5%;vertical-align: middle;">{$data.xm_code}</td>
                <td colspan="2" style="width:60px;vertical-align: middle;"><p style="font-weight: bold;">项目名称</p></td>
                <td colspan="4" style="width: 20%;vertical-align: middle;">{$data.xm_name}</td>
            </tr>
            <tr>
                <td colspan="1" style="vertical-align: middle;"><p style="font-weight: bold;">申请人</p></td>
                <td colspan="1" style="vertical-align: middle;">{$data.xm_createuser}</td>
                <td colspan="2" style="vertical-align: middle;"><p style="font-weight: bold;">依托单位</p></td>
                <td colspan="4" style="vertical-align: middle;" >{$data.xm_company}</td>
            </tr>
            <tr>
                <td colspan="2" style="vertical-align: middle;"><p style="font-weight: bold;">评价要点</p></td>
                <td colspan="5" style="vertical-align: middle;"><p style="font-weight: bold;">评价内容</p></td>
                <td><p style="font-weight: bold;vertical-align: middle;">打分</p></td>
            </tr>
            <?php foreach($standrad as $key=>$value){?>
            <tr>
                <td colspan="2" style="text-align: left;vertical-align: middle;"><?php echo ($key+1).".".$value['mainpoints']."（0-".$value['maxVal']."分）";?></td>
                <td colspan="5" style="text-align: left;vertical-align: middle;"><?php echo $value['content'];?></td>
                <td style="text-align: center;vertical-align: middle;"><?php echo $data[$value['field']];?></td>
            </tr>
            <?php }?>
            <tr style="height:20px;">
                <td colspan="7" style="vertical-align: middle;"><p style="float:right;font-weight: bold;">总分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td  style="vertical-align: middle;">
                    <label id="total">{$data.ps_total}</label>
                </td>
            </tr>
            <?php if($isZiZhu == 1){?>
                <tr>
                    <td style="text-align: center;font-weight:bold;vertical-align: middle;">定性评价</td>
                    <td colspan="7"  style="vertical-align: middle;">
                        <?php echo $data['ps_zz'] ?>
                        <p style="font-weight: bold;float:right;">(定性评价主要考察项目的“创新性、前瞻性、颠覆性”，分“强、中、弱”三档给予评价。)</p>
                    </td>
                </tr>
            <?php }?>
            <tr>
                <td style="vertical-align: middle;"><p style="font-weight:bold">评审意见</p>
				<span style="font-size:17px" >{$advise}</span></td>
                <td colspan="7" style="height:280px;text-align: left;">{$data.ps_detail}</td>
            </tr>
            </thead>
        </table>
        <input type="hidden" id="xr_id" value="{$data.xr_id}" />
        <input type="hidden" id="xm_id" value="{$data.xm_id}" />
    </div>
    <script src="__PUBLIC__/vendor/jquery/jquery1.11.1.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/layui/layui.js"></script>
    <script>
//        返回
        $("#back").on("click",function(){
            location.href="__CONTROLLER__/markIndex?offset={$offset}&limit={$limit}";
        });
        $("#fileshow").on("click",function(){
            window.open('__MODULE__/XM/listindex?xm_id=' + $("#xm_id").val());
        });
    </script>

</body>
</html>