<include file="Public:header"/>
<style>
    .content select{
        width: 130px;
        height: 26px;
        font-size: 16px;
        border-radius: 2px;
        margin-right: 30px;
    }
    .content select option{
        height: 26px;
        line-height: 26px;
        font-size: 17px;
    }
    .confirm{
        margin-right: 50px;
    }
    #confirm,#cancel{
        padding: 6px 36px;
    }
    span i{
        font-size: 20px;
    }
    .form{
        margin-top: 30px;
    }
    .tab-content{
        padding-top: 10px;
        margin-left: 10px;
        box-sizing: border-box;
    }
    .tab-content span{
        display: block;
        margin-bottom: 10px;
    }
    label{
        width: 19%;
        margin-left: 30px;
        text-align: right;
        margin-right:10px;
    }
    .fl{
        margin-left:20px;
        width:400px;
    }
    .cb{
        margin-top: 20px;
        width: 97%;
    }
    input{
        width: 250px;
        height: 32px;
        border-radius: 4px;
    }
    .cb>.fl>input{
        width: 250px;height: 32px;border-radius: 4px;display: inline-block;
    }
</style>
<body>
<div class="content">
    <form class="form" id="zhuanjia" name="zhuanjia">
        <input id="id" name="id" type="hidden" value="{$data.user_id}" class="form-control">
        <div class="cb">
            <div class="fl">
                <label>单位：</label>
                <input type="text" id="user_orgid" name="user_orgid" value="{$data.user_orgid}" class="form-control"/>
            </div>
            <div class="fl">
                <label>分组：</label>
                <input id="user_group" name="user_group" type="text" value="{$data['user_class']}" class="form-control"/>
            </div>
        </div>
        <div class="cb">
            <div class="fl">
                <label>姓名：</label>
                <input id="real_name" name="real_name" type="text" value="{$data.user_realusername}" class="form-control"/>
            </div>
            <div class="fl">
                <label>账号：</label>
                <input id="user_name" name="user_name" type="text" value="{$data.user_name}" class="form-control"/>
            </div>
        </div>
        <div class="cb">
            <div class="fl">
                <label>密码：</label>
                <input id="user_password" name="user_password" type="text" value="{$data.user_password}" class="form-control"/>
            </div>
            <div class="fl">
                <label>职务/职称：</label>
                <input id="user_zhiwu" name="user_zhiwu" type="text" value="{$data.user_zhiwu}" class="form-control"/>
            </div>
        </div>
        <div class="cb">
            <div class="fl">
                <label>联系方式：</label>
                <input id="user_mobile" name="user_mobile" type="text" value="{$data.user_mobile}" class="form-control"/>
            </div>
            <div class="fl">
            </div>
        </div>
    </form>
    <div class="tc" style="height:40px;margin-top: 100px">
        <a class="btn btn-success confirm" id="confirm">确定</a>
        <a class="btn btn-primary" id="cancel">取消</a>
    </div>
</div>
</body>
<script>

    $(function () {
        layui.use('layer', function () {
            layer = layui.layer;
        });

        $('#confirm').click(function () {
            var id            = $('#id').val();
            var real_name     = $('#real_name').val();
            var user_name     = $('#user_name').val();
            var org_id        = $('#user_orgid').val();
            var user_group    = $('#user_group').val();
            var zhiwu         = $("#user_zhiwu").val();
            var zhicheng      = $("#user_zhiwu").val();
            var mobile        = $("#user_mobile").val();
            var user_password = $('#user_password').val()
            if (!real_name) {
                layer.alert('请输入姓名');
                return false;
            }
            if (!user_name) {
                layer.alert('请输入账号');
                return false;
            }
            if(!user_password){
                layer.alert('请输入密码');
                return false;
            }
            if (!org_id) {
                layer.alert('请填写单位名称');
                return false;
            }
            if (!user_group) {
                layer.alert('请选择分组');
                return false;
            }
            if (!zhiwu) {
                layer.alert('请填写专家职务');
                return false;
            }
            if (!mobile) {
                layer.alert('请填写联系方式');
                return false;
            }
            // console.log($("#zhuanjia").serialize());return;
            $.ajax({
                type: 'post',
                url: '__CONTROLLER__/addSysUser',
                data: $("#zhuanjia").serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.code == 0) {
                        layer.msg('操作成功');
                    } else {
                        layer.alert(data.message);
                        return;
                    }
                    parent.$('#zjTable').bootstrapTable('refresh');
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }
            })
        });

        //    取消按钮点击退出
        $('#cancel').on('click', function () {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        })
    });
</script>