<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link href="__PUBLIC__/vendor/bootstrap-table/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link href="__PUBLIC__/vendor/switchery/switchery.css" rel="stylesheet">
    <link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
    <link href="__PUBLIC__/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/bootstrap-table.css" rel="stylesheet" >
    <link href="__PUBLIC__/css/style.css?v=4.0.0" rel="stylesheet">

    <script src="__PUBLIC__/vendor/bootstrap-table/jquery.min.js"></script>
    <script src="__PUBLIC__/vendor/jquery/jquery.form.js"> </script>
    <script src="__PUBLIC__/vendor/bootstrap-table/bootstrap/js/bootstrap.min.js"></script>

    <script src="__PUBLIC__/vendor/switchery/switchery.js"></script>
    <script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
    <script src="__PUBLIC__/vendor/chosen/chosen.order.jquery.js"></script>
    <script src="__PUBLIC__/vendor/chosen-ajax-addition/chosen.ajaxaddition.jquery.js"></script>

    <script src="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="__PUBLIC__/vendor/bootstrap-table/bootstrap-table/src/locale/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/layui/layui.js"></script>
    <link href="__PUBLIC__/css/tablepublic.css" rel="stylesheet">
    <script src="__PUBLIC__/vendor/ie8/respond.min.js"></script>
    <style>
        th{
            text-align: center;
        }
        .wrapper .wrapper-content{
            padding-bottom: 0;
        }
        .form-control{
            display: inline-block;
            width: 270px;
        }
        /*#layui-layer1, #layui-layer2,#layui-layer3, #layui-layer4, #layui-layer5, #layui-layer6, #layui-layer7, #layui-layer8, #layui-layer9, #layui-layer10{*/
        /*top: 150px !important;*/
        /*}*/
    </style>
</head>

<body class="gray-bg"  style="font-family: 微软雅黑;" >
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div >
                        <p class="name"  style="text-align: left;font-size:  22px;background-color:;border-left:5px solid green;padding-left: 10px;font-family: 微软雅黑;">专家管理</p>
                    </div>
                    <div class="_box" style="margin-top: -5px;">
                        <label class="control-label" style="margin-left:15px;">姓名：</label>
                        <input type="text" class="form-control" placeholder="" id="search_realname" style="width:150px;display: inline-block">
                        <label class="control-label" style="margin-left:25px;">分组:</label>
                        <input class="form-control"  type="text" id="class" name="class" style="margin-left:10px;width: 150px;display: inline-block" >

                        <!--<a class="btn btn-warning " style="margin-left: 10px;" type="button" id="sys_add" ><i class="fa fa-sign-out"></i>&nbsp;添加</a>-->
                        <!--<button class="btn btn-info" style="margin-left: 30px;" type="button" id="sys_refresh">查询</button>-->
                        <a class="btn btn-warning " style="margin-left: 10px;" type="button" id="sys_add" ><i class="fa fa-plus"></i>添加</a>
                        <button class="btn btn-error" style="margin-left: 10px;" type="button" id="sys_del"><i class="fa fa-trash-o"></i>删除</button>
                        <button class="btn btn-danger" style="margin-left: 10px;" type="button" id="sys_export"><i class="fa fa-download"></i>导出</button>
                        <button class="btn btn-danger" style="margin-left: 10px;" type="button" id="sys_import"><i class="fa fa-upload"></i>导入</button>
                        <button class="btn btn-danger" style="margin-left: 10px;" type="button" id="sys_addll"><i class="fa fa-plus"></i>添加浏览专家</button>
                    </div>
                    <table id="atpbiztable" ></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="sys_dlg" role="dialog" class="modal fade "></div>
<input type="hidden" id="sort">
<input type="hidden" id="sortOrder">
<div class="modal fade" id="loading" role="dialog" data-backdrop='static'>
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">处理中</h4>
            </div>
            <div class="modal-body">
                <img src="__PUBLIC__/img/loading/loading9.gif" style='display: block;margin: 0 auto'>
                <div id="loadingText" style="text-align: center"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/vendor/layui/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/banBackSpace.js"></script>

<script>
    layui.use('layer', function() {
        layer = layui.layer;
    })
    $(".chosen-select").chosen({disable_search_threshold: 0, search_contains: true, width: '120px'});
    $(".chosen-select").on("change",function(){
        $('#atpbiztable').bootstrapTable("refresh");
    });
    $("#search_realname").on("keyup",function(){
        $('#atpbiztable').bootstrapTable("refresh");
    });
    $("#class").on("keyup",function(){
        $('#atpbiztable').bootstrapTable("refresh");
    });
    $(function () {
        $('#atpbiztable').bootstrapTable({
            url: '__CONTROLLER__/getData',         //请求后台的URL（*）
            method: 'post',                      //请求方式（*）
            toolbar: '#atpbiztoolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            iconSize: 'outline',
            sortable: true,                     //是否启用排序
            sortName:"user_name",
            sortOrder: "asc",                   //排序方式
            queryParams: queryParams,//传递参数（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [5,10, 25, 50, 100],        //可供选择的每页的行数（*）
//            strictSearch: true,
//            showColumns: true,                  //是否显示所有的列
//            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
//            height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "user_id",                     //每一行的唯一标识，一般为主键列
//            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
//            cardView: true,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            rowStyle:function(row,index){
                return style = {
                    css:{
                        'font-size':'15px'
                    }
                }
            },
            columns: [[
                {checkbox: true},
                {title: '序号', width: 30,
                    formatter: function (value, row, index)
                    {
                        var option =  $('#atpbiztable').bootstrapTable("getOptions");
                        return option.pageSize * (option.pageNumber - 1) + index + 1;
                    }
                },
                {field: 'user_realusername', title: '姓名', sortable: true,width:70},
                {field: 'user_name', title: '账号', sortable: true,width:100},
                {field:'user_password',title:'密码',width:100},
                {field: 'user_zhiwu', title: '职务/职称', sortable: true,width:70},
                {field: 'user_mobile', title: '联系方式', sortable: true,width:100},
                {field: 'user_orgid', title: '单位', sortable: true,width:100},
                {field: 'user_class', title: '分组', sortable: true,width:100, visible:true},
                {field: 'user_id', title: '操作', sortable: false,width:100,
                    formatter: function (value, row, index) {
                        var inp = "'"+  value +"'";
                        var a = '<a  style="width:40px;height:30px;line-height:30px;margin-left:10px;" class="btn btn-info btn-xs" onclick="updateInRow('+ inp +')">编辑</a>';
                        a += '<a  style="width:60px;height:30px;line-height:30px;margin-left:10px;" class="btn btn-info btn-xs" onclick="setXM('+ inp +')">选择项目</a>';
                        return a;
                    }
                }
            ]
            ],
            onDblClickRow: function (row) {
                layer.open({
                    title:'用户编辑',
                    closeBtn:1,
                    type: 2,
                    shadeClose:false,
                    content: '__CONTROLLER__/add?id=' + row['user_id'],
                    area: ['850px', '450px']
                });

            },
            onSort: function (name, order) {
            },
        });
    });

    function queryParams(params) {  //配置参数
        $('#sort').val(params.sort);
        $('#sortOrder').val(params.order);
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            limit: params.limit,   //页面大小
            offset: params.offset,  //页码
            sort: params.sort,  //排序列名
            sortOrder: params.order,//排位命令（desc，asc）
            real_name:$('#search_realname').val(),
            user_class:$("#class").val()
        };
        return temp;
    }

    $('#sys_refresh').on('click',function() {
        $('#atpbiztable').bootstrapTable('refresh')
    });
    $('#sys_export').on('click',function() {
        $('#loading').modal('show');
        var sort=$('#sort').val();
        var sortOrder=$('#sortOrder').val();
        var real_name=$('#search_realname').val();
        var t = "__CONTROLLER__/export?sort="+sort+"&sortOrder="+sortOrder+"&real_name="+real_name;
        t = encodeURI(t);
        $.ajax({
            type:'get',
            url: t,
            dataType:'json',
            success:function(data){
                $('#loading').modal('hide');
                if(data.code > 0){
                    location.href = data.message;
                }else{
                    layer.msg(data.message);
                }
            }
        })
    });
    $('#sys_add').on('click',function(){
        layer.open({
            title:'新增用户',
            closeBtn:1,
            type: 2,
            shadeClose:false,
            content: '__CONTROLLER__/add',
            area: ['850px', '450px']
        });
//
    });



    $('#sys_update').on('click',function() {
        var tablerow = $('#atpbiztable').bootstrapTable('getSelections');
        if(tablerow.length!=1)
        {
            layer.alert("您已多选或者少选，仅能对一条数据进行操作");
        }
        else {
            $("#sys_dlg").load('__CONTROLLER__/edit?id=' + tablerow[0]['user_id'], function() {
                $('#sys_dlg_submit').on('click',submitdata);
                $("#sys_dlg").modal({backdrop: false});
            });
        }
    });

    function updateInRow(id)
    {
        layer.open({
            title:'用户编辑',
            closeBtn:1,
            type: 2,
            shadeClose:false,
            content:'__CONTROLLER__/add?id='+id,
            area: ['850px', '450px']
        });
    }

    //    $("#setXM").on("click",function(){
    //            var data = $('#atpbiztable').bootstrapTable("getSelections");
    //            if(data.length>1){
    //                alert("请选择一条数据");
    //            }
    //            layer.open({
    //            title:'选择项目',
    //            closeBtn:1,
    //            type: 2,
    //            shadeClose:false,
    //            content:'__CONTROLLER__/setXM?id='+data[0]['user_id'],
    //            area: ['1100px', '700px']
    //        });
    //    });


    $("#sys_import").on("click",function(){
        $("#sys_dlg").load('__CONTROLLER__/import', function() {
            $('#sys_dlg_upload').on('click', submitproblemdata);
            $("#sys_dlg").modal({backdrop: false});
        });
    });

    function setXM(id){
        layer.open({
            title:'选择项目',
            closeBtn:1,
            type: 2,
            shadeClose:false,
            content:'__CONTROLLER__/setXM?id='+id,
            area: ['1100px', '570px']
        });
    }

    function submitproblemdata() {
        var ajax_option = {
            url: "__CONTROLLER__/import",
            type: "post",
            success: function (data) {
                if(data=="ok"){
                    $("#sys_dlg").modal("hide");
                    $('#atpbiztable').bootstrapTable('refresh');
                }else{
                    $("#sys_dlg").modal("hide");
                    $('#atpbiztable').bootstrapTable('refresh');
                    alert(data);
                    $("#sys_dlg").modal("hide");
                    $('#atpbiztable').bootstrapTable('refresh');
                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("失败");
            }
        };
        $('#sys_dlg_form').unbind('submit');

        $("#sys_dlg_form").submit(function (e) {
            e.preventDefault();
            $("#sys_dlg_form").ajaxSubmit(ajax_option);
        });
        $("#sys_dlg_form").submit();
    }

    $('#sys_del').on('click',function() {
        var tablerow = $('#atpbiztable').bootstrapTable('getSelections');
        if (tablerow.length == 0) {
            layer.alert("您尚未选择数据");
        } else {
            layer.confirm('确认删除' + tablerow.length + '条数据?',{btn:['确定','取消']},function(){
                var ids = [];
                $.each(tablerow, function () {
                    ids.push(this['user_id']);
                });
                $.ajax({
                    type:'post',
                    url:'__CONTROLLER__/delSysUser',
                    data:{ids: ids.join(',')},
                    dataType :'json',
                    success:function(data){
                        if(data.code > 0){
                            layer.alert('操作成功');
                        }else{
                            layer.alert(data.message);
                        }
                        $('#atpbiztable').bootstrapTable('refresh')
                    }
                })
            })
        }
    });

</script>
</body>

</html>




