<include file="Public:tableheader" />
<link href="__PUBLIC__/vendor/chosen/chosen.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/css/public.css">
<style>
    .content select{
        width: 130px;
        height: 26px;
        font-size: 16px;
        border-radius: 2px;
        margin-right: 30px;
    }
    .content select option{
        height: 26px;
        line-height: 26px;
        font-size: 17px;
    }
    .chosen-select{
        width: 280px!important;
    }
    .confirm{
        margin-right: 50px;
    }
    #confirm,#cancel{
        padding: 6px 36px;
    }
    .alternative,.selected{
        width: 50%;
    }
    #participants .chosen-container-single{
        width: 175px!important;
    }
    #judges .chosen-container-single{
        width: 150px!important;
    }
    .alternative>div{
        margin-bottom: 20px;
    }
    .personneltype {
        margin-bottom: 8px;
        color:blue;
        font-weight: bold;
    }
    #alternativeTable,#selectedTable{
        table-layout: fixed;
        width: 500px;
    }
    #alterjudges,#seljudges{
        table-layout: fixed;
        width: 420px;
    }
    span i{
        font-size: 20px;
    }
    .form{
        margin-top: 30px;
    }
    .tab-content{
        padding-top: 10px;
        margin-left: 10px;
        box-sizing: border-box;
    }
    .tab-content span{
        display: block;
        margin-bottom: 10px;
    }
    .personnel{
        margin: 10px 0 0 0;
    }
</style>
<body>
<input type="hidden" value="{$userId}" id="userId"/>
<div class="dialog">
    <div class="body">
        <div>
            <div class="tab-content">
                <!--participants start-->
                <div id="participants">
                    <div class="personnel cb">
                        <div class="alternative fl">
                            <span class="db personneltype" style="margin-top: -8px">备选项目</span>
                            <div>
                                <label>项目编号:</label>
                                <select id="alternative_name" class="chosen-select sbInfoName" style="height: 30px;width:175px;border-radius: 3px">
                                    <option value="">&nbsp;</option>
                                    <foreach name="xmdata" item="item">
                                        <option value="{$item.xm_code}">{$item.xm_name}({$item.xm_code})</option>
                                    </foreach>
                                </select>
                                <label style="margin-left:5px;">分组:</label>
                                <select id="search_class" class="chosen-select" style="width: 175px;">
                                    <option value="">全部</option>
                                    <foreach name="xmClass" item="val">
                                        <option>{$val}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="selected fl">
                            <span class="db personneltype">已选项目</span>
                            <label>项目编号:</label>
                            <!--<input type="text"  id="selected_name"  class='sbInfoName' style="height: 30px;width:175px!important;border-radius: 3px">-->
                            <select id="selected_name" class="chosen-select sbInfoName" style="height: 30px;width:175px;border-radius: 3px">
                                <option value="">&nbsp;</option>
                                <foreach name="xmdata" item="item">
                                    <option value="{$item.xm_code}">{$item.xm_name}({$item.xm_code})</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="cb" style="">
                        <div class="alterBox fl" >
                            <table id="alternativeTable" data-height="360"></table>
                        </div>
                        <div class="fl" style="width: 60px;margin-top: 113px;">
                            <div class="tc">
                                <button class="btn btn-warning" id="addAlternative">添加</button><br>
                                <i class="fa fa-long-arrow-right"></i>
                            </div>
                            <div class="tc">
                                <button class="btn btn-danger" id="removeSelected">移除</button><br>
                                <i class="fa fa-long-arrow-left"></i>
                            </div>
                        </div>
                        <div class="selBox fl" >
                            <table id="selectedTable" data-height="360"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tc" style="height:50px;margin-top: 20px">
                <a class="btn btn-success confirm" id="confirm">确定</a>
                <a class="btn btn-primary" id="cancel">取消</a>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/vendor/chosen/chosen.jquery.js"></script>
<script>
    // 已选项目列表(最后提交保存的项目)
    var selectedDataStart = $.parseJSON('{$data}');
    $(function(){
        $(".chosen-select").chosen({disable_search_threshold: 0, search_contains: true});
//        备选项目
        var TableObj_alternative = {
            oTableInit:function(){
                $('#alternativeTable').bootstrapTable({
                    url: '__CONTROLLER__/getAlternativeData',         //请求后台的URL（*）
                    method: 'post',                      //请求方式（*）
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: false,                   //是否显示分页（*）
                    iconSize: 'outline',
                    sortable: true,                     //是否启用排序
                    queryParams:queryParams_alternative,
                    search:false ,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    showColumns: false,                  //是否显示所有的列
                    showRefresh: false,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    uniqueId: "xm_id",                     //每一行的唯一标识，一般为主键列
                    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    showExport:true,
                    exportDataType:'all',
                    columns: [
                        [
                            {checkbox: true},
                            {field: 'xm_code', title: '项目编号',width: 80},
                            {field: 'xm_class', title: '分组',width: 80},
                            {field: 'xm_company', title: '单位',width: 80}
                        ]
                    ],
                    onDblClickRow:function(row){
                        var selectedLen = $('#selectedTable').bootstrapTable("getData").length;
                        if(row['xr_id'] == undefined){
                            row['xr_id'] = "";
                        }
                        row[0] = false;     //默认本条数据不选中
                        var data = {
                            index: selectedLen + 1,
                            row: row
                        };
                        $('#selectedTable').bootstrapTable("insertRow", data);
                        selectedDataStart.push(row);
                        $('#alternativeTable').bootstrapTable("remove", {
                            field:'xm_id',
                            values:[row['xm_id']]
                        });
                    },
                    onPostBody:function(){
                        var selectedData = $('#selectedTable').bootstrapTable("getData");
                        var selectedLen  = selectedData.length;
                        if(selectedLen>0){
                            if(typeof(selectedData[0]['xm_id']) != 'undefined'){
                                for(var i=0;i<selectedLen;i++){
                                    var xm_id = selectedData[i]['xm_id'];
                                    $('#alternativeTable').bootstrapTable('remove',{
                                        field:'xm_id',
                                        values:[xm_id]
                                    });
                                }
                            }
                        }
                    }
                });
            }
        };
        function queryParams_alternative(params){
            return {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                'class':$("#search_class").val(),
                name: $("#alternative_name").val(),
                userId:$("#userId").val(),
            };
        }
        $(".sbInfoName").on("change",function(){
            if($(this).attr("id")=="alternative_name"){
                $('#alternativeTable').bootstrapTable("refresh");
            }else if($(this).attr("id")=="selected_name"){
                var selected_name = $(this).val();
                if(selected_name != ''){
                    var tableData = new Array();
                    for(var i=0;i<selectedDataStart.length;i++){
                        if(selectedDataStart[i]['xm_code'] == selected_name){
                            tableData[0] = selectedDataStart[i];
                        }
                    }
                    $('#selectedTable').bootstrapTable("removeAll");
                    $('#selectedTable').bootstrapTable("append",tableData);
                }else{
                    $('#selectedTable').bootstrapTable("removeAll");
                    $('#selectedTable').bootstrapTable("append",selectedDataStart);
                }
            }
        });
        $("#search_class").on("change",function(){
            $('#alternativeTable').bootstrapTable("refresh");
        });

//        已选评委
        var TableObj_selected = {
            oTableInit:function(){
                $('#selectedTable').bootstrapTable({
                    data:$.parseJSON('{$data}'),
                    // url: '__CONTROLLER__/selectedData',         //请求后台的URL（*）
                    method: 'post',                      //请求方式（*）
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: false,                   //是否显示分页（*）
                    iconSize: 'outline',
                    sortable: true,                     //是否启用排序
                    queryParams:queryParams_selected,
                    search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    showColumns: false,                  //是否显示所有的列
                    showRefresh: false,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    uniqueId: "xm_id",                     //每一行的唯一标识，一般为主键列
                    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    showExport:true,
                    exportDataType:'all',
                    columns: [
                        [
                            {checkbox: true},
                            {field: 'xm_code', title: '项目编号',width: 80},
                            {field: 'xm_class', title: '分组',width: 80},
                            {field: 'xm_company', title: '单位',width: 80}
                        ]
                    ],
                    onDblClickRow:function(row){
                        var alternativeLen = $('#alternativeTable').bootstrapTable("getData").length;
                        var data = {
                            index: alternativeLen + 1,
                            row: row
                        };
                        $('#selectedTable').bootstrapTable("remove",{
                            field:'xm_id',
                            values:[row['xm_id']]
                        });

                        unsetSelected(row['xm_id']);
                        // 如果项目的分组不包含筛选的分组，则不将用户插入备选项目列表
                        if(($("#search_class").val() == '') || (row['xm_class'] == $("#search_class").val())){
                            $('#alternativeTable').bootstrapTable("insertRow", data);
                        }
                    }
                });
            }
        };
        TableObj_alternative.oTableInit();
        TableObj_selected.oTableInit();
        function queryParams_selected(params){
            return {
                name: $("#selected_name").val(),
                userId:$("#userId").val()
            };
        }
        // 添加项目
        $("#addAlternative").on("click",function(){
            var alternativeData = $('#alternativeTable').bootstrapTable("getAllSelections");
            var len = alternativeData.length;
            if(len == 0){
                layer.alert("请选择要添加的评委");
            }else{
                var ids = [];
                for (var i = 0; i < len; i++) {
                    ids.push(alternativeData[i]['xm_id']);
                    selectedDataStart.push(alternativeData[i]);
                }
                $('#alternativeTable').bootstrapTable("remove", {
                    field:'xm_id',
                    values:ids
                });
                $('#selectedTable').bootstrapTable("append",alternativeData);
            }
            return false;
        });
        // 移除项目
        $("#removeSelected").on("click",function(){
            var selectedData = $('#selectedTable').bootstrapTable("getAllSelections");
            var len          = selectedData.length;
            var ids          = [];
            for (var i = 0; i < len; i++) {
                ids.push(selectedData[i]['xm_id']);
                unsetSelected(selectedData[i]['xm_id']);
            }
            $('#selectedTable').bootstrapTable("remove",{
                field:'xm_id',
                values:ids
            });
            $('#alternativeTable').bootstrapTable("append",selectedData);
            return false;
        });
    });


    function unsetSelected(xmid){
        var newSelected = [];
        for(var i=0;i<selectedDataStart.length;i++){
            if(selectedDataStart[i]['xm_id'] != xmid){
                newSelected.push(selectedDataStart[i]);
            }
        }
        selectedDataStart = newSelected;
    }
    $("#confirm").on("click",saveData);
    function saveData(){
        var selectedData = selectedDataStart;
        var len =selectedData.length;
        var xmid = [];
        for(var i=0;i<len;i++){
            xmid.push(selectedData[i]['xm_id']);
        }
        var data = {};
        data['xmid'] = xmid;
        data['user_id']  = $("#userId").val();
        $.post("__CONTROLLER__/saveZhuanjiaData",data,function(rep){
            if(rep.code == 0){
                parent.layer.msg(rep.message);
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            }else{
                parent.layer.alert(rep.message);
            }
        },'json');
    }
    $('#confirm').click(function(){
        parent.$('#refresh').click();
        parent.$('#information').bootstrapTable('refresh');
    });

    //    取消按钮点击退出
    $('#cancel').on('click',function(){
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    })

</script>
</body>
</html>