<include file="Public:tableheader" />
<title>角色授权</title>
<style>
    .modal-footer{
        margin-top: 20px!important;
    }
    .control-label{
        padding-top: 30px;
        float: left;
        margin-left:11%;
    }
    #input_role{
        float: left;
        margin-top: 20px;
    }
    .form-horizontal>div{
        margin:0 0 30px 0;
    }
</style>
<body style="margin: 0 auto;text-align: center">
<!--<div class="roleBox clearfix" style="margin-bottom: 20px;margin-left: 80px">-->
<!--    <label class="control-label" style="font-size: 16px;margin-top: -3px">角色：</label>-->
<!--    <input id="input_role" type="text" class="form-control" placeholder="" style="width:200px;display: inline-block;">-->
<!--    <button class="btn btn-info" type="button" style="display: block;float: left;margin-top: 20px;margin-left: 30px" id="sys_refresh">-->
<!--        查询-->
<!--    </button>-->
<!-- </div>-->
<form id="sys_dlg_form" role="form" class="form-horizontal" enctype="multipart/form-data">
    <div class="col-sm-12">
        <div class="tablelist col-sm-6" style="width: 550px;margin-left:85px">
            <div id="atpbiztoolbar"></div>
            <table id="t1"></table>
        </div>
    </div>
    <input id="modelid" type="hidden" value="{$modelid}" class="form-control">
</form>
<div class="modal-footer" style="overflow: hidden">
    <button type="button" data-dismiss="modal" id="sys_dlg_submit" class="btn btn-primary" style="background-color: #428bca;
    border-color: #357ebd;">保存</button>
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/banBackSpace.js"></script>

<script>
    $(function () {
        layui.use('layer', function () {
            layer = layui.layer;
        });
        var h = $(window).height()-100;
        $('table').attr('data-height',h);
        $('#t1').bootstrapTable({
            url: '__CONTROLLER__/addByRole',
            method: 'post',
            toolbar: '#atpbiztoolbar',
            striped: true,
            cache: false,
            pagination: false,
            iconSize: 'outline',
            sortable: true,
            sortName: "role_name",
            sortOrder: "asc",
            queryParams: queryParams,
            sidePagination: "client",
            pageNumber: 1,
            pageSize: 10,
            pageList: [5, 10, 25, 50, 100],
            minimumCountColumns: 2,
            clickToSelect: true,
            uniqueId: "role_id",
            detailView: false,
            search:true,
            showRefresh: true,
            columns: [[
                {
                    checkbox: true,
                    formatter: checkedRole
                },
                {field: 'role_name', title: '角色', sortable: true, width: 50}
            ]
            ]
        });
        var roleids = '<?php echo $roleids; ?>';
        if (roleids != 'roleids' && roleids != '') {
            roleids = JSON.parse(roleids);
        }

        function checkedRole(value, row, index) {
            if (roleids != 'roleids' && roleids != '' && roleids.indexOf(row['role_id'])>=0) {
                return {checked: true};
            }
        }
    });
    function queryParams(params) {
        var temp = {
            limit: params.limit,
            offset: params.offset,
            sort: params.sort,
            sortOrder: params.order,
            role_name:$('#input_role').val()
        }
        return temp;
    }
    $('#sys_refresh').on('click', function () {
        $('#t1').bootstrapTable('refresh')
    });
    $('#sys_dlg_submit').click(function () {
        var tablerow1 = $('#t1').bootstrapTable('getSelections');
            var roleids = [];
            $.each(tablerow1, function () {
                roleids.push(this['role_id']);
            });
            $.ajax({
                type: 'post',
                url: '__CONTROLLER__/addRoleAuthByModel',
                data: {roleids: roleids.join(','),modelid:$('#modelid').val()},
                dataType: 'json',
                success: function (data) {
                    if (data.code > 0) {
                        layer.alert('操作成功');
                    } else {
                        layer.alert(data.message);
                    }
                    parent.$('#atpbiztable').bootstrapTable('refresh');
                    parent.$('#atpbiztable2').bootstrapTable('refresh');
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }
            })
    })
</script>